.header {
}



.header-container {
    background: linear-gradient(45deg ,#35ef6d,#91ff5a) ;
    animation: bganimated 15s infinite linear;
    background-size: 600% 600%; 
    padding: 10px 20px;
    background-color: #002f3408;
    /* border-bottom: 3px solid #fff; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.header-left {
    position: absolute;
    left: 30px;  /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);  /* Centers it vertically */
}

.header-container2 {
    display: flex;
    background: linear-gradient(45deg ,#35ef6d,#91ff5a) ;
    animation: bganimated 15s infinite linear;
    background-size: 600% 600%; 
    padding: 10px 20px;
    background-color: #002f3408;
    /* border-bottom: 3px solid #fff; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    justify-content: center;  /* Centers horizontally */
    align-items: center;       /* Centers vertically */
    width: 100%;               /* Full width */
    height: 100px;             /* Adjust as needed */
    text-align: center;
    position: relative;
    flex-direction: row;
    padding: 0 20px;
}
.header-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-avatar-desktop {
    width: 80px !important;  /* Increase logo size */
    height: 80px !important;}

.links-desktop {
    font-size: 2rem !important;  /* Adjust font size */
    font-weight: bold;
}

.header-right {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-title2 {
    display: flex;
    align-items: center;  /* Align items vertically */
    gap: 10px;            /* Space between logo and text */
    cursor: pointer;
  }

@keyframes bganimated{
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0 85%;
    }
}

.chat-header {
    background: linear-gradient(45deg ,#35ef6d,#91ff5a) ;
    animation: bganimated 15s infinite linear;
    background-size: 600% 600%; 

    background-color: #002f3408;
    border-bottom: 3px solid #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}



.cat-container {
   
    box-shadow: 0 5px 4px 0 rgba(59, 209, 77, 0.386);
    padding: 8px 20px;

}

.cat-container span {
    display: inline-block; /* Forces whole words to stay together */
}


.cat-container span {
    display: inline-block; /* Forces whole words to stay together */
}


.mt-3 {
    display: inline-block;
    margin-top: 10px;
}

.search {
    height: 44px;
    max-height: 44px;
    padding: 5px 10px;
    border: 1px solid #002f34;
    border-radius: 5px 0 0 5px;
    width: 380px;
    max-width: 400px; /* Maximum width */
    margin: 0;
    box-sizing: border-box;
}

.search-btn {
    height: 44px;
    padding: 5px 15px;
    border: none;
    background-color: #002f34;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}



.logout-btn {
    height: 35px;
    background-color: #002f34;
    color: #fff;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 1px 16px;
    margin-right: 10px;
}

.category {
    color: rgb(8, 67, 14);
    padding: 7px;
    cursor: pointer;
}


.login {
    height: 500px;
    font-size: 18px;
    background-color: #002f34;
    color: #fff;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 1px 16px;
    margin-right: 10px;
    text-decoration: none;
}



.header-container {
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    align-items: center;
}

.website-name {
    margin-right: 20px;
    font-size: 24px;
}

.links {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    color: #002f34;
}

.department-select {
    margin-right: 15px;
    padding: 5px;
    border: 1px solid #002f34;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002f34;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    min-height: 60px;
    width: 200px;
    background: #eee;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1;
    color: red;
    font-size: 14px;
    background: #002f34;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

.logout-btn {
    margin: 5px 0;
    width: 100%;
    background: #002f34;
    border: 1px solid #002f34;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #068e18;
    color: #fff;
}


 .login:hover {
    text-decoration: underline;
    
}

/* 

.header-container {
    background: linear-gradient(45deg ,#3572EF,#5AB2FF,#A0DEFF,#CAF4FF,#A0DEFF,#5AB2FF,#3572EF);
    animation: bganimated 15s infinite linear;
    background-size: 600% 600%; 
    padding: 10px 20px;
    background-color: #002f3408;
    border-bottom: 3px solid #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

@keyframes bganimated {
    0% { background-position: 0 85%; }
    50% { background-position: 100% 20%; }
    100% { background-position: 0 85%; }
}

.header {
    display: flex;
    align-items: center;
}

.website-name {
    margin-right: 20px;
    font-size: 24px;
}

.links {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #002f34;
}

.department-select {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #002f34;
    border-radius: 5px;
}

.search {
    height: 44px;
    padding: 5px 10px;
    border: 1px solid #002f34;
    border-radius: 5px 0 0 5px;
    width: 400px;
    margin: 0; /* Ensure there is no margin */
/* }

.search-btn {
    height: 44px;
    padding: 5px 10px;
    border: none;
    background-color: #002f34;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin: 0; Ensure there is no margin
}

/* .user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002f34;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
} */
/* 
.dropdown-menu {
    min-height: 60px;
    width: 200px;
    background: #eee;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1;
    color: red;
    font-size: 14px;
    background: #002f34;
    border-radius: 7px;
    padding: 10px;
} */

/* .logout-btn {
    margin: 5px 0;
    width: 100%;
    background: #002f34;
    border: 1px solid #002f34;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #068e18;
    color: #fff;
}

.login {
    display: block;
    margin: 5px 0;
    color: #002f34;
    text-decoration: none;
    text-align: center;
}

.login:hover {
    text-decoration: underline;
} */ 

@media (max-width: 970px) {
    .search {
        max-height: 35px;
        max-width: 220px;
        font-size: 14px;
        margin-bottom: 7px;
    }
    
    .department-select {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 140px;
        /* order: -1; Move to top */
    }
    
    .search-btn {
        padding: 5px 10px;
        max-height: 35px;
        margin-bottom: 7px;
    }
}

@media (max-width: 729px) {
    .search {
        max-width: 100px;

        margin-bottom: 10px;
    }
    
    .search-btn {
        width: 100%;
 margin-bottom: 10px;
    }
    
    .department-select {
        order: 0;
    }
    
    .search-group {
        width: 100%;
        display: flex;
    }
    
    .search-group .search {
        border-radius: 5px 0 0 5px;
        margin-bottom: 0;
    }
    
    .search-group .search-btn {
        width: auto;
        border-radius: 0 5px 5px 0;
    }

    .cat-container {
        padding: 5px 10px;
        box-shadow: 0 3px 3px 0 rgba(59, 209, 77, 0.3);
        max-width: 100%; /* Adjust width for responsiveness */
        text-align: center; /* Center text */
        white-space: normal; /* Allow text wrapping */
        display: block; /* Ensures it behaves like a normal text container */
        word-break: normal;  /* Keeps words whole */
        overflow-wrap: break-word; /* Moves whole words */
        line-height: 1; /* Adjust spacing for better readability */
        margin: 0 auto; /* Centers container */
    }
    
    
    
}